{% extends 'base.html' %}

{% block title %}Under Development{% endblock %}

{% block content %}
<div class="text-center" style="margin-top: 50px; text-align: center;">
    <h1>Page Under Development</h1>
    <p>We regret to inform you that this page is currently under development.</p>
    <p>If you have any questions or concerns, please don't hesitate to contact us.</p>
    <p>"Please check back later for updates."</p>
    <p>Thank you for your patience.</p>

    <h3 style="color: aliceblue;">By the way DONATE IF YOU CAN please</h3>
    <img src="{{ url_for('static', filename='images/QR.jpg') }}" alt="" width="250px" >
</div>
{% endblock %}