{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<form action="https://formspree.io/f/xyzkbedl" method="POST">
    <h1 >Feedback Form</h1>
    <input class="form-control" type="text" name="first" placeholder="Your Name" autocomplete="off" required>
    <input class="form-control" type="email" name="email" placeholder="Your Email Address" autocomplete="off" required>
    <textarea class="form-control" rows="5" cols="60" name="message" placeholder="Problem/Description" autocomplete="off" required></textarea>
    <button class="btn btn-primary" type="submit" onsubmit="clearForm()" >Send Message</button>
    <small style="color: aliceblue; opacity: 0.7;">
        *The replies for the main might me delayed as we are having small response team, 
        <strong> "" we will get back to you within 12 Hours.""</strong> 
        <br>
        Thank you for your patince
    </small>
</form>

<script>
    function clearForm() {
        document.querySelector('form').reset();
    }
</script>

{% endblock %}